@import url('https://fonts.googleapis.com/css?family=Orbitron');

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: transparent;
/*  display: flex;*/
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#clock {
  color: #d4653d;
  font-family: Arial Narrow;
  font-size: 60px;
  font-weight: bold;
  /*font-variant-numeric: tabular-nums;*/
}
